footer{
    .footer-container{
        padding: 20px 0px;
        padding: 20px;
        height: auto;
        div{
            a{
                .logo-photo{
                    width: 165px;
                    height: 140px;
                    overflow: hidden;
                    padding-right: 20px;
                }
            }
            .menu{ 
                color: rgb(24, 22, 22);
                font-weight: 500;
                font-family: kanit;
                font-weight: 800;
                font-size: 22px;
                li{

                }
            }
        }
    }
}