footer{
    
    nav{
        padding: 20px 0px;
        padding: 20px;
        height: auto;
        background: rgb(72,11,152); background: linear-gradient(184deg, rgba(72,11,152,1) 18%, rgba(158,70,252,1) 100%);
        div{
            a{
                img{
                    width: 165px;
                    height: 140px;
                    overflow: hidden;
                    padding-right: 20px;
                }
            }
        }
        div{
            h5{
                font-family: kanit;
                font-weight: 600;
                color: black;
            }
            ul{
                li{
                    font-family: kanit;
                    color: wheat;
                    text-shadow: deeppink;
                    font-size: 20px;
                }
            }
        }
    }
}