main{
    div{
        h2{
            color: rgb(24, 22, 22);
            font-weight:900;
            font-family: kanit;
            font-size: 30px;
            
        }
        div{
            h3{
                font-family: kanit;
                font-weight: 500;

            }
            p{
                font-family: kanit;
                font-weight: 400;
                color: rgb(72,11,152);
            }
            a{
                text-decoration: none;
                color: black;
                font-weight: 600;
            }
        }
    }
}