main {
    section {
        div {
            height: 0 auto;

            div {
                p {
                    font-family: kanit;
                    font-size: 25px;
                    text-shadow: -8px 1px 9px rgba(0, 0, 0, 0.6);

                }
            }

            .carousel-dias {
                width: 350px;

            }
        }
    }
}